html {
  font-size: 20px;
  text-align: center;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2em;
  width: 100%;
  display: inline-block;
  border-bottom: 3px solid rgb(115, 115, 114);
  font-size: 2rem;
  text-shadow: 1px 2px 3px #f3e964;
  
}

.skyblue{
 color: skyblue;
}

.pink{
  color:  rgb(255, 192, 203) ;
}

#basic p{
  font-weight:bold
}